
//
// VARIABLES
//

// Colors
$blue: #ffb800;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Calibri, "Segoe UI", Arial, sans-serif;
$helveticaNeue: Calibri, "Segoe UI", Arial, sans-serif;
$georgia: Calibri, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
